{{ form_start(form) }}
{#

created_at
updated_at
Images 
#}
    <div class="form-control">
        <i class="fa fa-calendar"></i>
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}

        <small>
            {{ form_help(form.title) }}
        </small>

        <div class="form-error">
            {{ form_errors(form.title) }}
        </div>
    </div>

    <div class="form-control">
        <i class="fa fa-calendar"></i>
        {{ form_label(form.subtitle) }}
        {{ form_widget(form.subtitle) }}

        <small>
            {{ form_help(form.subtitle) }}
        </small>

        <div class="form-error">
            {{ form_errors(form.subtitle) }}
        </div>
    </div>

    <div class="form-control">
        <i class="fa fa-calendar"></i>
        {{ form_label(form.text) }}
        {{ form_widget(form.text) }}
        <trix-editor input="post_text"></trix-editor>
        <small>
            {{ form_help(form.text) }}
        </small>

        <div class="form-error">
            {{ form_errors(form.text) }}
        </div>
    </div>

    <div class="form-control">
        <i class="fa fa-calendar"></i>
        {{ form_label(form.images) }}
        {{ form_widget(form.images) }}

        <small>
            {{ form_help(form.images) }}
        </small>

        <div class="form-error">
            {{ form_errors(form.images) }}
        </div>
    </div>

    <div class="form-control">
        <i class="fa fa-calendar"></i>
        {{ form_label(form.created_at) }}
        {{ form_widget(form.created_at) }}

        <small>
            {{ form_help(form.created_at) }}
        </small>

        <div class="form-error">
            {{ form_errors(form.created_at) }}
        </div>
    </div>


    <div class="form-control">
        <i class="fa fa-calendar"></i>
        {{ form_label(form.updated_at) }}
        {{ form_widget(form.updated_at) }}

        <small>
            {{ form_help(form.updated_at) }}
        </small>

        <div class="form-error">
            {{ form_errors(form.updated_at) }}
        </div>
    </div>


   
    <button class='btn btn-primary text-white'>
        {{ button_label|default('Save') }}
    </button>

{{ form_end(form) }}
