{% extends 'admin.base.html.twig' %}

{% block title %}
    Post
                
            
        
    
{% endblock %}

{% block body %}
    <h1>
        Post
                                    
                            
                    
            
    </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>
                    Id
                </th>
                <td>
                    {{ post.id }}
                </td>
            </tr>
            <tr>
                <th>
                    Title       
                </th>
                <td>
                    {{ post.title }}
                </td>
            </tr>
            <tr>
                <th>
                    Subtitle       
                </th>
                <td>
                    {{ post.subtitle }}
                </td>
            </tr>
            <tr>
                <th>
                    Text        
                </th>
                <td>
                    {{ post.text }}
                </td>
            </tr>
            <tr>
                <th>
                    Images          
                </th>
                <td>
                    <div class='d-flex flex-column'>
                        {% for image in related_images %}
                            <a href="{{ path('app_image_show', {'id': image.id}) }}">
                                {{ image.name }}
                            </a>
                        {% endfor %}
                    </div>
                </td>

            </tr>
            <tr>
                <th>
                    Created_at 
                </th>
                <td>
                    {{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}
                </td>
            </tr>
            <tr>
                <th>
                    Updated_at
                </th>
                <td>
                    {{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}
                </td>
            </tr>
        </tbody>
    </table>
    <div class='d-flex gap-1 justify-content-between'>
        <a class='btn btn-primary text-white' href="{{ path('app_post_edit', {'id': post.id}) }}">
            edit
        </a>
        <div class='d-flex gap-1'>
            <a class='btn btn-primary text-white' href="{{ path('app_post_index') }}">
                back to list
            </a>

            {{ include('post/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}
